.App {
  text-align: center;
  background-color: #000051;
  border-radius: 25px;
  min-height: 300px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.checked-item {
  text-decoration: line-through;
}