.App {
  text-align: center;
  background-color: #000051;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.checked-item {
  text-decoration: line-through;
}